.directory
.settings
at.ac.uibk.greatAdventure.ui/*
at.ac.uibk.greatAdventure.tests/*
at.ac.uibk.greatAdventure.sdk/*
at.ac.uibk.greatAdventure/bin/*
at.ac.uibk.greatAdventure/model/*
at.ac.uibk.greatAdventure/xtend-gen/*
at.ac.uibk.greatAdventure/.launch/*
at.ac.uibk.greatAdventure/.settings/*
at.ac.uibk.greatAdventure/.classpath
at.ac.uibk.greatAdventure/.project
at.ac.uibk.greatAdventure/plugin.xml
at.ac.uibk.greatAdventure/build.properties
at.ac.uibk.greatAdventure/src-gen/*
at.ac.uibk.greatAdventure/META-INF/*
*~
