body {
    background: #000;
    padding-top: 10px;
}

#scene {
    width: 800px;
    height: 500px;
    background: #555;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#scene .item{
    position: absolute;
}


#character {
    width: 790px;
    height: 80px;
    background: #bcd; 
    margin: 5px auto;
    position: relative;
    padding: 5px;
}

ul.thumbnails.image_picker_selector li .thumbnail{
    border: 0;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected{
    border-radius: 5px;
}

.image_picker_image{
    height: 64px;
}


.context-menu-title{
    display: block;
    position: relative;
    height: 20px;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

#image-colorizer{
    background-color: #08C; 
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0.5; 
}

#dialog{
    min-width: 250px;
}

#dialog-button{
    margin-top: 10px;
}